body {
    text-align: center;
    margin: 0 auto;
    background-color: lightblue;
    animation-name: colorChange;
    animation-duration: 30s;
  }
  
  @keyframes colorChange {
    0% {background-color: lightblue; }
    25% {background-color: lightgray; }
    50% {background-color: #9cbed3; }
    100% {background-color: #71a2c1; }
  }